


.nop {
	display: none;
}

body {
	font-size: 100%;
	
}

#objective {p {
	padding: 0 10px;
	max-width: 50em;
}}

ul > li > ul {
			padding-left: 1.3em;
}



.resume {
	a {
		text-decoration: none;
		color: black!important;
	}
	 p, li, dd , span{	
		font-size: 12px;
		
		}	
	h4 {
		font-size: 16px;
		padding: 0 0 0 5em ;}
	h6 {font-size: 0.8em;}
	margin: 0 3em 0 3em;
	font-family: 'Cousine', sans-serif;	
	li {padding: 0 0 0 0em;}
	hr{	border: 3px solid black; }
	dd > h4:nth-child(1) {padding-top: 2em;}	
	dt { 
		// font-size: 0.9em;
		font-weight: bold; 
		text-align: right; 
		padding: 0 1em 1em 0; 
		float: left; 		
	}

    
}

.resume-sub-header {
 div, span, p {display: inline;}	
}
.title-location {
	padding: 0em 0em 0em 0em;
	float: right;	
}
.res-schools {
	p {padding: 0em 0em 0em 6.5em;}
}
#objective {
	padding-top: 1em;
}


.resume-title-name {	
	font-size: 1.7em; 
	font-weight: bold; 
	
}

.resume-timeline {
	color: gray;
	float: right;	
	padding: 0 1em 0 0;
}