<footer class= "row nop" >
  <div class="large-6 columns">
    <ul class= "inline-list dark-text">
      <li><a href="/about/" >About</a></li>
      <li><a href="/resume/" >Resume</a></li>
      <li><a href="/contact/" >Contact </a></li>
    </ul>
  </div>
  <div class="large-6 columns">
    <ul class= "inline-list">
      <li>&copy; Copyright <%= Date.today.year.to_s %> | Tony Semeraro</li>
    </ul>
  </div>
</footer>