<div class="fixed nop">
  <nav class="top-bar">
    <ul class ="title-area">
      <li class = "name">
        <%= link_to image_tag(current_page.data.nav_icon || data.site.nav_icon), '/' %>
      </li>
      <li class = "toggle-topbar menu-icon">
        <a href="#"><span>MENU</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% data.site.top_nav_bar.each do |title, url| %>
            <li class = "<%= "active" if (url == current_page.url)%>" >
              <%= link_to title, url %>
            </li>
        <% end %>
      </ul>
    </section>
  </nav>
</div> 
