
<div class="">
	<%= image_tag(current_page.data.side_icon) if current_page.data.side_icon %>

</div>

<% if current_page.data.show_sidebar_gallery == true %>

	<div class="row">
	<ul class="clearing-thumbs  large-centered small-10 columns" data-clearing>
		<% data.site.sidebar_gallery.each do |pic_url, thumb_url| %>
		<li class = "th">
			<a href="<%= pic_url %>"><img src="<%= thumb_url %>"></a>
		</li>
		<%end%>
	</ul>
</div>

<%end%>


<div class="row">
	<a href="#">
		<h5></h5>
	</a>
</div>

