---
title: All About Tony!
---
<h1 class = "extra-huge-headline"> about</h1>
<br />
<div class="row">
	<div class = "narrow-story large-5 large-offset-4 columns">
	<p>This site is built with technology from the amazing <a href = "http://middlemanapp.com/">Middleman</a> static site generator. It uses the beauty of <a href= "http://www.ruby-lang.org/en/">Ruby</a> language and the utility of the <a href = "http://www.padrinorb.com/">Padrino</a> framework behind the scenes to process and built a complete site.
	</p>
	<br/>
	<p>	<a href ="http://foundation.zurb.com/">Zurb Foundation</a> is the structure behind the layout and responsive features. Try resizing your browser window or rotating your viewing screen - the layout responds to use the space.
	</p>
	<br />
	<p>And lastly, you might notice a vintage computer display as a motif throughout my site. It's actually a Digital Equipment Corporation <a href = "http://en.wikipedia.org/wiki/VT05">VT05</a> terminal. This groundbreaking corporation sold this sleek interface to their mainframe computers in the early 70's. The DEC company is gone but their <a href = "http://en.wikipedia.org/wiki/PDP-11">innovations</a> have found their way into most <a href = "http://en.wikipedia.org/wiki/Alpha_21064">computing</a> devices that surround us. Respect.
	</p>
	<br />
	<p>Fork the <a href = "https://github.com/tony-semeraro/tony-s3meraro-com">source</a> code at GitHub.</p>
</div>
</div>
