---
title: Contact Tony Semeraro 

---
<h1 class = "extra-huge-headline"> /contact/ </h1>
<br>
<br>
<div class = "narrow-story large-5 large-offset-4 columns">
<p>you can find me:</p>
<a href ="mailto:tonys3meraro@gmail.com">[tonys3meraro@gmail.com]</a>
<br />
<a href ="https://github.com/tony-semeraro">[github]</a>
<br />
<a href ="http://www.linkedin.com/pub/tony-semeraro/71/417/849">[linkedin]</a>
<br />
<a href ="https://twitter.com/wollerskate">[twitter]</a>

</div>