---
title: Contact Tony Semeraro 

---
<h1 class = "extra-huge-headline">say hello</h1>
<br>
<br>
<div class = "narrow-story large-5 large-offset-4 columns">
<p>by way of:</p>
<p><a href ="mailto:tonys3meraro@gmail.com">[tonys3meraro@gmail.com]</a></p>
<br />
<p><a href ="https://github.com/tony-semeraro" target='blank'>[github]</a></p>
<br />
<p><a href ="http://www.linkedin.com/pub/tony-semeraro/71/417/849" target='blank'>[linkedin]</a></p>
<!-- <br /> -->
<!-- <a href ="https://twitter.com/wollerskate">[twitter]</a> -->

</div>