---
title: Tony Semeraro's Home Page
# side_icon: /
# background: "/images/vt05-ascii.png"


home_name: Tony Semeraro
---
<div class="row">
	<div class="small-10 columns">
		<h1 class = "extra-huge-headline"> hi. </h1>
	</div>
</div>

<div class = "front-center row">
  <!-- hero text -->
  <div class = "large-8 large-centered columns">
    <h4> I'm <span>Tony Semeraro</span>.</h4><p> I do full stack web development.</p>

    <h6>At the moment I work with:</h6>
    <div class='push-bullets'>
      <ul>
        <li>Ruby language based web development: <br/>
          Rails, Sinatra and Middleman are my favorite tools for large, medium and small projects. </li>
        <li>Javascript: MV* frameworks like React, Backbone, Knockout or custom jQuery.</li>
        <li>Mobile App Development: Deployed as responsive HTML5 site or packaged for app store.</li>
        <li>Modern PHP</li>
      </ul>
    </div>
    <h6>Currently Learning:</h6>
    <div class='push-bullets'>
      <ul>
        <li>Clojurescript</li>
      </ul>
    </div>
    <p>From the database on the back-end to the CSS on the front, I'm here to build cool stuff. I strive to balance<a href="http://www.infoq.com/presentations/craftmanship-ethics"> traditional craftsmanship</a>, rapid deployment and quality engineering.</p>
  </div>
</div>






