---
title: Tony Semeraro's Home Page
# side_icon: /
# background: "/images/vt05-ascii.png"

home_photo: "../../images/me-with-chips.jpg"
home_name: Tony Semeraro
---
<div class="row">
	<div class="small-10 columns">
		<h1 class = "extra-huge-headline"> hi. </h1>
	</div>
</div>

<!--  -->

<!-- hero  -->

<div class = "front-center row">
	<!-- hero text -->
	<div class = "large-8 columns">
		<h4> I'm <span>Tony Semeraro</span>.</h4><p> I do full stack web development.</p>

		<h6>At the moment I'm into:</h6>
		<div class='push-bullets'>
			<ul>
				<li>Ruby language based web development: <br/>
					Rails, Sinatra and Middleman are my favorite tools for large, medium and small projects. </li>
				<li>Javascript: Raw bespoken, MVC frameworked, Functional or jQuery.</li>
				<li>Mobile App Development: Rapid deployment HTML5 and Phonegap.</li>
			</ul>
		</div>

		
		<p>From the database on the back-end to the CSS on the front, I'm here to build cool stuff. I strive to balance<a href="http://www.infoq.com/presentations/craftmanship-ethics"> traditional craftsmanship</a> with quality engineering. 
		
	</div>
	<!-- hero image -->
	<div class = "large-4 columns">
		<!-- <img src="images/<%= data.page.home_photo%>" alt="Photo of <%= data.page.home_name%>" id="pic" /> -->
	</div>
</div>
<hr />


<!-- Three-up Content Blocks -->

<div class="row">
	<div class="large-4 columns">
		
	</div>

	<div class="large-4 columns">
		
	</div>

	<div class="large-4 columns">

	</div>

</div>

<!-- Call to Action Panel -->
<div class="row">
	<div class="large-12 columns">



	</div>
</div>





